@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root{
    --primary-color: #7ACDC8;
    --secondary-color: #8FCC96;
    --accent1-color: #656839;
    --accent2-color: #E3CAD7;

    --heading-font: "Roboto-Slab", serif;
    --paragraph-font: "Roboto-Slab", serif;

    --nav-background-color: #7ACDC8;
    --nav-link-color: #8FCC96;
    --nav-hover-link-color: #656839;
    --nav-hover-background-color: #E3CAD7;
}


header, body, footer{
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    /* grid-template-columns: 1rf 1rf 1rf; */
}

body{
    font-family: var(--paragraph-color);
    /* box-sizing: border-box; */
}


h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
h2{
    text-align: center;
}

header{
    padding: 10px;
    font-size: 25px;
    margin: 1rem auto;
	grid-template-columns: 300px 2fr 2fr;
	align-items: center;
    justify-content: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img{
    margin: 0 0.25rem 0 1rem;
	width:200px;
	height: auto;
}

nav{
    text-align: right;
    display: flex;
    list-style: none;
}

nav li{
    flex: 1 1 100%;
}

nav a{
    display: block;
	color: navy; 
	padding: 20px;
	text-decoration: none;
}

nav a:hover{
    color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

p{
    padding: 25px;
    font-size: 20px;
}

.sociallinks a{
    text-decoration: none;
}

 
.hero article{
    position: flex;
}

.hero h1{
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    display: flex;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    background-color: var(--nav-hover-link-color);
}

article img{
    width: 200px;
    order: 2;
}

.hero{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}


.flex-box img{
    max-width: 200px;
    margin: 2rem;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

footer{
    display: flex;
    justify-content: flex-end;
}