* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: rgb(31, 116, 116);
    border-bottom: 1px;
}

aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2) ; 
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height: auto;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    border: 1px solid black;
    box-shadow: 0 0 10px #111;
}

p{ padding: 0;
}

footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: steelblue;
    padding: 1rem;

}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

body {
    font-size: 16px;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: rgb(31, 116, 116);
    color: black;
}